---
import "../styles/main.css";

const { title, description, currentPage } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />

    <link rel="stylesheet" href="/fonts/stylesheet.css" />

    <link
      rel="icon"
      type="image/x-icon"
      href="/favicon/favicon.ico"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/favicon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/favicon/android-chrome-512x512.png"
    />

    <link rel="manifest" href="/favicon/site.webmanifest" />

    <title>{title} - VOLT</title>
    <slot name="head" />
  </head>

  <body>
    <header>
      <div class="logo">
        <a href="/">
          <picture>
            <img
              src="/images/logos/logo-volt.webp"
              alt="Logo VOLT"
              width="160"
              height="80"
              loading="eager"
            />
          </picture>
        </a>
      </div>
      <div
        class="menu-toggle"
        id="menu-toggle"
        role="button"
        aria-label="Abrir menú"
        aria-expanded="false"
      >
        ≡
      </div>
      <nav class="menu" role="navigation">
        <a href="/" class={currentPage === "home" ? "active" : ""}
          >Inicio</a
        >
        <a
          href="/nosotros"
          class={currentPage === "nosotros" ? "active" : ""}>Nosotros</a
        >
        <a
          href="/productos"
          class={currentPage === "productos" ? "active" : ""}>Productos</a
        >
        <a
          href="/contacto"
          class={currentPage === "contacto" ? "active" : ""}>Contacto</a
        >
      </nav>
    </header>

    <main>
      <slot />
    </main>

    <footer class="footer">
      <div class="nav-container">
        <nav class="footer-nav" role="navigation">
          <a href="/" class="nav-link">Inicio</a>
          <a href="/nosotros" class="nav-link">Nosotros</a>
          <a href="/productos" class="nav-link">Productos</a>
          <a href="/contacto" class="nav-link">Contacto</a>
        </nav>
      </div>

      <div class="social-container">
        <a
          href="https://wa.me/5491135053984"
          class="social-icon"
          aria-label="WhatsApp"
        >
          <img
            src="/images/logos/logo-whatsapp.svg"
            alt="WhatsApp"
            loading="lazy"
            width="38"
            height="38"
          />
        </a>
      </div>

      <div class="copyright">
        <p>© 2025 Volt - Todos los derechos reservados</p>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const menuToggle = document.getElementById("menu-toggle");
        const menu = document.querySelector(".menu");

        if (menuToggle && menu) {
          menuToggle.addEventListener("click", function () {
            menu.classList.toggle("active");
          });
        }
      });
    </script>

    <slot name="scripts" />
  </body>
</html>
